{% extends "layout.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.items.all %}
            <tr>
             <th scope="row">{{forloop.counter}}</th>
             <td>{{order_item.item.name}}</td>
             <td>{{order_item.item.price_small}}</td>
             <td>{{order_item.quantity}}</td>
             <!-- get updated pirce  -->
             <td>${{order_item.get_total_large_item_price}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan='5'>Your cart is empty</td>
            </tr>
            <tr>
             <td colspan="5">
                <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                </td>
            </tr>
            <tr>

            </tr>

        {% endfor %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
          <td>${{object.get_total}}</td>

        </tr>
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}